[submodule "NNHPPA/Data"]
	path = NNHPPA/Data
	url = git@github.com:ruudkoot/data-util.git
[submodule "MetaprogAgda/pigworker"]
	path = MetaprogAgda/pigworker
	url = https://github.com/pigworker/MetaprogAgda.git
